@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row text-center">
    <div class="col">
        <h1>Welcome</h1>
        <h2>to IVS Razor Pages Web Application.</h2>
        <h3>@Model.Message</h3>
    </div>

    <div class="row text-center">
        <div class="col">
            <img src="/images/ShieldBanner.jpg" class="w-50 img-fluid img-thumbnail" alt="S.H.I.E.L.D."/>
        </div>
    </div>
</div>